body {
  margin:0;
}
#nav-menu {
    padding:0;
    background-color:black;

}

#nav-menu li{
    display:inline-block;
    margin-right:20px;
    margin-left:5px;
}

#nav-menu a {
    color:white;
    text-decoration: none;
    font-size:24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:10px;
    display:inline-block;
}

#nav-menu a:hover {
    background-color:green;
} 

#about-us {
    background-image:url(japanese-food-1.jpg);
    background-size: cover;
    height:600px;
    color: white;
    padding:0.5px;
}

#intro-text {
    margin-left: 20px;
    margin-top: 20px;
}

#our-menu {
    background-image:url(japanese-food-2.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 600px;
}